.item-title li a{
    color: #000 !important;
    font-weight: 500;
    transition: all .3s;
}
.item-title .active{
    color: #f91944 !important;
}
.item-title .active:after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #c90d33;
    display: block;
    margin: 0px auto;
}